table {
    border-collapse: collapse;
    font-family: Nunito, sans-serif;
    color: #fff;
    word-break: break-all;
}

table, th, td {
    border: 2px solid rgba(255, 255, 255, .6);
}

thead {
    background-color: rgba(255, 255, 255, .1);
    color: #a5fde5;

}

th, td {
    padding: 3px 10px;
}

td:hover, th:hover {
    background-color: rgba(255, 255, 255, .15);
}
